@charset "UTF-8";
@import url("//hello.myfonts.net/count/32fef1");
/* line 5, ../../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * @license
 * MyFonts Webfont Build ID 3342065, 2017-02-08T06:20:33-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: BrandonTextWeb-Bold by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-text/bold/
 *
 * Webfont: BrandonTextWeb-Regular by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-text/regular/
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3342065
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright (c) 2015 by Hannes von Doehren. All rights reserved.
 *
 * © 2017 MyFonts Inc
*/
/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: 'BrandonTextWeb-Regular';
  src: url("../fonts/32FEF1_1_0.eot");
  src: url("../fonts/32FEF1_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/32FEF1_1_0.woff2") format("woff2"), url("webfonts/32FEF1_1_0.woff") format("woff"), url("../fonts/32FEF1_1_0.ttf") format("truetype");
}
@font-face {
  font-family: 'BrandonTextWeb-Bold';
  src: url("../fonts/32FEF1_0_0.eot");
  src: url("../fonts/32FEF1_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/32FEF1_0_0.woff2") format("woff2"), url("../fonts/32FEF1_0_0.woff") format("woff"), url("../fonts/32FEF1_0_0.ttf") format("truetype");
}
/*

		Developed by Bruno Felicio
		Date: 27/01/2017

	*/
/* line 8, ../sass/partials/_main.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/partials/_main.scss */
html {
  height: 100%;
  margin: 0;
}

/* line 19, ../sass/partials/_main.scss */
body {
  font-family: "sofia-pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.125em;
  color: #656569;
}

/* line 28, ../sass/partials/_main.scss */
.main-container {
  padding: 40px;
  min-height: 100%;
}

/* line 34, ../sass/partials/_main.scss */
.container {
  width: 100%;
  /* 940px/940px */
  max-width: 940px;
  margin: auto;
  overflow: hidden;
}

/* line 44, ../sass/partials/_main.scss */
.full-width {
  width: 100%;
  overflow: hidden;
}

/* line 52, ../sass/partials/_main.scss */
header {
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}
/* line 57, ../sass/partials/_main.scss */
header ul {
  float: right;
  margin-top: 8px;
}
/* line 61, ../sass/partials/_main.scss */
header li {
  display: inline-block;
  margin-left: 40px;
}
/* line 65, ../sass/partials/_main.scss */
header li a {
  color: #BFC4D7;
  text-decoration: none;
  font-size: 1em;
  transition: all .3s;
  font-weight: 600;
}
/* line 71, ../sass/partials/_main.scss */
header li a:hover {
  color: #4CA8F9;
}
/* line 74, ../sass/partials/_main.scss */
header li a.cta {
  background: #2D90E8;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: block;
  height: 44px;
  line-height: 44px;
  padding: 0 18px 0 18px;
  color: #fff;
}
/* line 84, ../sass/partials/_main.scss */
header li a.cta:hover {
  background: #4CA7F9;
}

/* Hero */
/* line 97, ../sass/partials/_main.scss */
h1 {
  text-indent: -9999px;
  background: url("../img/bruno-logo-small.svg") no-repeat 0 0;
  width: 63px;
  height: 80px;
  text-align: center;
  float: left;
}

/* line 106, ../sass/partials/_main.scss */
h2 {
  text-align: center;
  font-size: 42px;
  color: #38383D;
  line-height: 1.5;
  font-weight: 500;
  padding: 0 0 40px 0;
  opacity: 1;
  transition: transform .4s ease-in-out, opacity .4s ease-in-out;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

/* line 122, ../sass/partials/_main.scss */
.wf-loading h2 {
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}

/* line 129, ../sass/partials/_main.scss */
h3 {
  font-size: 1.22em;
  color: #38383D;
  margin-bottom: 20px;
  font-weight: 600;
  color: #38383D;
  margin-bottom: 40px;
}

/* line 139, ../sass/partials/_main.scss */
h4 {
  font-size: 1em;
  font-weight: 600;
  color: #38383D;
}

/* line 145, ../sass/partials/_main.scss */
a {
  text-decoration: none;
}

/* line 149, ../sass/partials/_main.scss */
p {
  line-height: 1.5;
  color: #38383D;
  font-weight: 300;
}

/* line 155, ../sass/partials/_main.scss */
.hero {
  margin: 80px auto 80px;
  width: 80%;
  overflow: hidden;
}

/* line 165, ../sass/partials/_main.scss */
.home li a.works, .single-work li a.works {
  color: #4CA8F9;
}
/* line 167, ../sass/partials/_main.scss */
.home li a.works::after, .single-work li a.works::after {
  color: #4CA8F9;
  content: '';
  display: block;
  width: 25px;
  padding-bottom: 8px;
  margin: 0 auto;
  border-bottom: 4px solid #4CA8F9;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}

/* line 184, ../sass/partials/_main.scss */
.page-template-about li a.about {
  color: #4CA8F9;
}
/* line 187, ../sass/partials/_main.scss */
.page-template-about li a.about::after {
  color: #4CA8F9;
  content: '';
  display: block;
  width: 25px;
  padding-bottom: 8px;
  margin: 0 auto;
  border-bottom: 4px solid #4CA8F9;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}

/* line 205, ../sass/partials/_main.scss */
.pf-item {
  width: 100%;
  position: relative;
}
/* line 210, ../sass/partials/_main.scss */
.pf-item .info {
  padding: 50px 0px;
  margin: auto;
  margin-bottom: 50px;
  overflow: hidden;
}
/* line 217, ../sass/partials/_main.scss */
.pf-item .info ul {
  float: left;
  width: 25%;
  margin-right: 0px;
}
/* line 223, ../sass/partials/_main.scss */
.pf-item .info ul li {
  font-weight: 700;
  line-height: 1.5;
  font-size: 1em;
  color: #38383D;
}
/* line 230, ../sass/partials/_main.scss */
.pf-item .info ul a {
  color: #b4b4b4;
  text-decoration: none;
  font-size: 0.88em;
  background: url("../img/link-icon.svg") no-repeat 0 10px;
  padding-left: 22px;
  transition: all .3s;
  font-weight: 600;
}
/* line 240, ../sass/partials/_main.scss */
.pf-item .info ul a:hover {
  color: #2D90E8;
  background: url("../img/link-icon-hover.svg") no-repeat 0 10px;
}
/* line 248, ../sass/partials/_main.scss */
.pf-item .info p {
  line-height: 1.5em;
  color: #656569;
  font-size: 1em;
  float: left;
  width: 75%;
}
/* line 258, ../sass/partials/_main.scss */
.pf-item img {
  top: -40px;
  width: 100%;
  max-width: 940px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Footer */
/* line 273, ../sass/partials/_main.scss */
footer {
  font-size: 0.88em;
  margin: 100px 0 10px 0;
  overflow: hidden;
}
/* line 279, ../sass/partials/_main.scss */
footer p.label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #656569;
  opacity: .5;
  margin-bottom: 15px;
}
/* line 288, ../sass/partials/_main.scss */
footer .email {
  float: left;
}
/* line 291, ../sass/partials/_main.scss */
footer .email a {
  color: #656569;
  text-transform: lowercase;
  opacity: 0.5;
}
/* line 295, ../sass/partials/_main.scss */
footer .email a:hover {
  color: #2D90E8;
  opacity: 1;
}
/* line 302, ../sass/partials/_main.scss */
footer .social {
  float: right;
}
/* line 305, ../sass/partials/_main.scss */
footer .social li {
  display: inline-block;
  margin: 0 0 0 20px;
}
/* line 308, ../sass/partials/_main.scss */
footer .social li:first-child {
  margin-left: 0;
}
/* line 313, ../sass/partials/_main.scss */
footer .social a {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
}
/* line 318, ../sass/partials/_main.scss */
footer .social a.twitter {
  background: url("../img/twitter.svg") no-repeat;
}
/* line 321, ../sass/partials/_main.scss */
footer .social a.dribbble {
  background: url("../img/dribbble.svg") no-repeat;
}
/* line 324, ../sass/partials/_main.scss */
footer .social a.instagram {
  background: url("../img/instagram.svg") no-repeat;
}
/* line 327, ../sass/partials/_main.scss */
footer .social a.linkedin {
  background: url("../img/linkedin.svg") no-repeat;
}
/* line 330, ../sass/partials/_main.scss */
footer .social a:hover {
  opacity: .8;
}

/****** Detail Page *******/
/* line 341, ../sass/partials/_main.scss */
.single-work, .page {
  /* Related boxes */
}
/* line 343, ../sass/partials/_main.scss */
.single-work h1, .page h1 {
  float: left;
  background: url("../img/bruno-logo-small.svg") no-repeat 0 0;
  width: 47px;
  height: 60px;
  margin: 0;
}
/* line 350, ../sass/partials/_main.scss */
.single-work .hero, .page .hero {
  width: 100%;
  margin: 0;
}
/* line 356, ../sass/partials/_main.scss */
.single-work .top-image, .page .top-image {
  width: 100%;
  padding: 40px;
  margin: 40px 0 40px;
  background: #f3f3f3;
}
/* line 365, ../sass/partials/_main.scss */
.single-work .top-image img, .page .top-image img {
  width: 100%;
  max-width: 940px;
  vertical-align: bottom;
  margin: 0 auto;
  display: block;
}
/* line 374, ../sass/partials/_main.scss */
.single-work .image, .page .image {
  padding: 0 0 40px;
}
/* line 378, ../sass/partials/_main.scss */
.single-work .image img, .page .image img {
  padding-bottom: 40px;
  max-width: 100%;
}
/* line 384, ../sass/partials/_main.scss */
.single-work .image p, .page .image p {
  font-weight: 300;
  color: #656569;
  padding-left: 20px;
  border-left: 4px solid #e7e7e9;
}
/* line 395, ../sass/partials/_main.scss */
.single-work .title, .page .title {
  text-transform: uppercase;
  font-size: 0.88em;
  font-weight: 600;
  text-align: center;
  margin: 100px 0 20px;
  color: #656569;
  opacity: .5;
  transition: transform .4s ease-in-out, opacity .4s ease-in-out;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
/* line 410, ../sass/partials/_main.scss */
.single-work .wf-loading p.title, .page .wf-loading p.title {
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}
/* line 418, ../sass/partials/_main.scss */
.single-work .description, .page .description {
  overflow: hidden;
  margin: 40px 0 80px;
}
/* line 422, ../sass/partials/_main.scss */
.single-work .description p, .page .description p {
  font-weight: 300;
  line-height: 1.7;
}
/* line 426, ../sass/partials/_main.scss */
.single-work .description .about, .page .description .about {
  width: 58.97435897%;
  float: left;
}
/* line 432, ../sass/partials/_main.scss */
.single-work .description .sidebar, .page .description .sidebar {
  width: 28.20512821%;
  float: left;
  margin-left: 12.82051282%;
  font-size: 0.88em;
}
/* line 439, ../sass/partials/_main.scss */
.single-work .description dl, .page .description dl {
  line-height: 1.5;
}
/* line 442, ../sass/partials/_main.scss */
.single-work .description dl dd, .page .description dl dd {
  color: #38383D;
  padding-bottom: 5px;
  font-weight: 600;
}
/* line 448, ../sass/partials/_main.scss */
.single-work .description dl dt, .page .description dl dt {
  line-height: 1.5;
  padding-bottom: 20px;
  color: #656569;
}
/* line 460, ../sass/partials/_main.scss */
.single-work .related, .single-work .sideproject-item, .page .related, .page .sideproject-item {
  overflow: hidden;
  width: 100%;
  margin: 100px auto;
  padding: 0 10px;
}
/* line 467, ../sass/partials/_main.scss */
.single-work .related ul a, .single-work .sideproject-item ul a, .page .related ul a, .page .sideproject-item ul a {
  transition: opacity 0.3s ease-in-out;
}
/* line 469, ../sass/partials/_main.scss */
.single-work .related ul a li, .single-work .sideproject-item ul a li, .page .related ul a li, .page .sideproject-item ul a li {
  -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.17);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.17);
  transition: box-shadow 0.3s ease-in-out;
}
/* line 474, ../sass/partials/_main.scss */
.single-work .related ul a:hover li, .single-work .sideproject-item ul a:hover li, .page .related ul a:hover li, .page .sideproject-item ul a:hover li {
  -moz-box-shadow: 0 4px 18px 2px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 4px 18px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 18px 2px rgba(0, 0, 0, 0.12);
}
/* line 476, ../sass/partials/_main.scss */
.single-work .related ul a:hover li p.link, .single-work .sideproject-item ul a:hover li p.link, .page .related ul a:hover li p.link, .page .sideproject-item ul a:hover li p.link {
  color: #2D90E8;
  background: url("../img/link-icon-hover.svg") no-repeat 0 10px;
}
/* line 484, ../sass/partials/_main.scss */
.single-work .related ul a:last-child li, .single-work .sideproject-item ul a:last-child li, .page .related ul a:last-child li, .page .sideproject-item ul a:last-child li {
  margin-right: 0;
}
/* line 490, ../sass/partials/_main.scss */
.single-work .related ul li, .single-work .sideproject-item ul li, .page .related ul li, .page .sideproject-item ul li {
  width: 32%;
  height: auto;
  background: #fff;
  float: left;
  margin: 0 2% 20px 0;
  overflow: hidden;
}
/* line 500, ../sass/partials/_main.scss */
.single-work .related ul li .img-wrapper, .single-work .sideproject-item ul li .img-wrapper, .page .related ul li .img-wrapper, .page .sideproject-item ul li .img-wrapper {
  width: 300px;
  height: 300px;
  color: blue;
  overflow: hidden;
}
/* line 506, ../sass/partials/_main.scss */
.single-work .related ul li .img-wrapper img, .single-work .sideproject-item ul li .img-wrapper img, .page .related ul li .img-wrapper img, .page .sideproject-item ul li .img-wrapper img {
  height: auto;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
/* line 516, ../sass/partials/_main.scss */
.single-work .related ul li .thumb-details, .single-work .sideproject-item ul li .thumb-details, .page .related ul li .thumb-details, .page .sideproject-item ul li .thumb-details {
  padding: 20px;
  overflow: hidden;
}
/* line 520, ../sass/partials/_main.scss */
.single-work .related ul li .thumb-details h4, .single-work .sideproject-item ul li .thumb-details h4, .page .related ul li .thumb-details h4, .page .sideproject-item ul li .thumb-details h4 {
  margin-bottom: 10px;
}
/* line 524, ../sass/partials/_main.scss */
.single-work .related ul li .thumb-details .left, .single-work .sideproject-item ul li .thumb-details .left, .page .related ul li .thumb-details .left, .page .sideproject-item ul li .thumb-details .left {
  float: left;
}
/* line 528, ../sass/partials/_main.scss */
.single-work .related ul li .thumb-details .right, .single-work .sideproject-item ul li .thumb-details .right, .page .related ul li .thumb-details .right, .page .sideproject-item ul li .thumb-details .right {
  float: right;
}
/* line 536, ../sass/partials/_main.scss */
.single-work .related ul li span p, .single-work .sideproject-item ul li span p, .page .related ul li span p, .page .sideproject-item ul li span p {
  color: #c4c4c6;
  font-size: 1em;
  font-weight: 400;
}
/* line 540, ../sass/partials/_main.scss */
.single-work .related ul li span p.link, .single-work .sideproject-item ul li span p.link, .page .related ul li span p.link, .page .sideproject-item ul li span p.link {
  color: #b4b4b4;
  text-decoration: none;
  font-size: 0.88em;
  background: url("../img/link-icon.svg") no-repeat 0 10px;
  padding-left: 22px;
  transition: all .3s;
  font-weight: 600;
  margin: 10px 0 4px;
}
/* line 550, ../sass/partials/_main.scss */
.single-work .related ul li span p.text, .single-work .sideproject-item ul li span p.text, .page .related ul li span p.text, .page .sideproject-item ul li span p.text {
  color: #656569;
}

/* About page */
/* line 568, ../sass/partials/_main.scss */
.page-template-about .dribbble-shots {
  overflow: hidden;
  padding: 20px 10px;
}
/* line 574, ../sass/partials/_main.scss */
.page-template-about .dribbble-shots .portfolio .thumb {
  max-width: 220px;
  height: 167px;
  float: left;
  margin-right: 20px;
}
/* line 581, ../sass/partials/_main.scss */
.page-template-about .dribbble-shots .portfolio .thumb:last-child {
  margin-right: 0 !important;
}
/* line 586, ../sass/partials/_main.scss */
.page-template-about .dribbble-shots .portfolio .thumb img {
  margin: 0;
}
/* line 590, ../sass/partials/_main.scss */
.page-template-about .dribbble-shots .portfolio .thumb a {
  height: 165px;
  display: block;
  -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.17);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.17);
  transition: box-shadow 0.3s ease-in-out;
}
/* line 595, ../sass/partials/_main.scss */
.page-template-about .dribbble-shots .portfolio .thumb a:hover {
  -moz-box-shadow: 0 4px 18px 2px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 4px 18px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 18px 2px rgba(0, 0, 0, 0.12);
}
/* line 607, ../sass/partials/_main.scss */
.page-template-about img {
  text-align: center;
  margin: 20px 0 40px;
  width: 100%;
  max-width: 645px;
}
/* line 612, ../sass/partials/_main.scss */
.page-template-about img.avatar {
  max-width: 136px;
  height: auto;
}
/* line 618, ../sass/partials/_main.scss */
.page-template-about .hero {
  text-align: center;
}
/* line 622, ../sass/partials/_main.scss */
.page-template-about .content {
  width: 100%;
  margin: 0 auto;
}
/* line 625, ../sass/partials/_main.scss */
.page-template-about .content h2 {
  font-size: 1.875em;
}
/* line 633, ../sass/partials/_main.scss */
.page-template-about .content .description {
  width: 50%;
  margin: 0 auto;
}
/* line 638, ../sass/partials/_main.scss */
.page-template-about .content .description p {
  font-size: 1.375em;
  line-height: 1.8;
  color: #38383E;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 646, ../sass/partials/_main.scss */
.page-template-about .content .description a {
  font-weight: 500;
  color: #2D90E8;
}
/* line 651, ../sass/partials/_main.scss */
.page-template-about .content .description a:hover {
  color: #4CA8F9;
}

/********************************************/
/*********** Contact page styling ***********/
/********************************************/
/* line 663, ../sass/partials/_main.scss */
.page-template-contact {
  /* hide original loader */
}
/* line 667, ../sass/partials/_main.scss */
.page-template-contact .ajax-loader {
  display: inline-block;
  background: #fff;
  text-align: left;
  padding: 24px;
  width: 45% !important;
  height: 24px !important;
  background-repeat: no-repeat;
  background-position: 4px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.23);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.23);
}
/* line 679, ../sass/partials/_main.scss */
.page-template-contact .ajax-loader:after {
  margin-left: 24px;
  content: "Sending your message...";
  font-size: 0.88em;
  display: block;
  width: 100% !important;
}
/* line 691, ../sass/partials/_main.scss */
.page-template-contact header li a {
  color: white;
}
/* line 694, ../sass/partials/_main.scss */
.page-template-contact header li a:hover {
  color: #4CA8F9;
}
/* line 697, ../sass/partials/_main.scss */
.page-template-contact header li a.cta {
  background: #fff;
  color: #0F86F1;
}
/* line 706, ../sass/partials/_main.scss */
.page-template-contact h1 {
  background: url("../img/bruno-logo-white.svg") no-repeat 0 0;
}
/* line 710, ../sass/partials/_main.scss */
.page-template-contact h2 {
  color: white;
}
/* line 716, ../sass/partials/_main.scss */
.page-template-contact .title {
  color: white;
}
/* line 720, ../sass/partials/_main.scss */
.page-template-contact .main-container {
  background: #0F86F2;
  color: #fff;
}
/* line 725, ../sass/partials/_main.scss */
.page-template-contact .contact-form {
  max-width: 50%;
  margin: 0 auto;
}
/* line 729, ../sass/partials/_main.scss */
.page-template-contact .contact-form form {
  width: 100%;
}
/* line 732, ../sass/partials/_main.scss */
.page-template-contact .contact-form form input, .page-template-contact .contact-form form textarea, .page-template-contact .contact-form form select {
  width: 100%;
  padding: 14px 16px;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.23);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.23);
  border-radius: 2px;
}
/* line 741, ../sass/partials/_main.scss */
.page-template-contact .contact-form form textarea {
  resize: none;
}
/* line 745, ../sass/partials/_main.scss */
.page-template-contact .contact-form form select {
  -webkit-appearance: none;
  background: #fff url("../img/drop-down-arrow.svg") no-repeat 96% center;
}
/* line 750, ../sass/partials/_main.scss */
.page-template-contact .contact-form form input[type="submit"] {
  background: #254B6D;
  color: #fff;
  font-weight: 600;
  margin: 20px 0 20px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 758, ../sass/partials/_main.scss */
.page-template-contact .contact-form form label {
  color: #fff;
  text-transform: uppercase;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  font-size: 0.77em;
  font-weight: 500;
  display: inline-block;
  margin: 20px 0 8px;
}
/* line 770, ../sass/partials/_main.scss */
.page-template-contact .contact-form .wpcf7-response-output {
  color: #fff;
  border: none;
  padding: 20px;
  margin: 0px 0 10px;
  background: #117CDD;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 779, ../sass/partials/_main.scss */
.page-template-contact .contact-form .wpcf7-not-valid-tip {
  display: inline-block;
  background: #B63434;
  color: #fff;
  padding: 8px 10px;
  font-size: 0.88em;
  margin: 5px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 792, ../sass/partials/_main.scss */
.page-template-contact footer p {
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 798, ../sass/partials/_main.scss */
.page-template-contact footer .email a {
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 801, ../sass/partials/_main.scss */
.page-template-contact footer .email a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 809, ../sass/partials/_main.scss */
.page-template-contact footer .social a.twitter {
  background: url("../img/twitter-white.svg") no-repeat;
}
/* line 812, ../sass/partials/_main.scss */
.page-template-contact footer .social a.dribbble {
  background: url("../img/dribbble-white.svg") no-repeat;
}
/* line 815, ../sass/partials/_main.scss */
.page-template-contact footer .social a.instagram {
  background: url("../img/instagram-white.svg") no-repeat;
}
/* line 818, ../sass/partials/_main.scss */
.page-template-contact footer .social a.linkedin {
  background: url("../img/linkedin-white.svg") no-repeat;
}
/* line 821, ../sass/partials/_main.scss */
.page-template-contact footer .social a:hover {
  opacity: .5;
}

@media screen and (max-width: 700px) {
  /* line 3, ../sass/partials/_mediaqueries.scss */
  .main-container {
    padding: 20px;
  }

  /* line 7, ../sass/partials/_mediaqueries.scss */
  .container {
    width: 100%;
  }

  /* line 11, ../sass/partials/_mediaqueries.scss */
  .hero {
    width: 100% !important;
  }
  /* line 15, ../sass/partials/_mediaqueries.scss */
  .hero h2 {
    font-size: 1.25em;
    padding: 0;
  }

  /* line 22, ../sass/partials/_mediaqueries.scss */
  .info {
    padding: 30px 0 !important;
    margin: 0 !important;
  }
  /* line 27, ../sass/partials/_mediaqueries.scss */
  .info ul {
    width: 100%;
    float: none !important;
    margin-bottom: 20px;
  }
  /* line 33, ../sass/partials/_mediaqueries.scss */
  .info p {
    float: none !important;
    width: 100% !important;
  }

  /* line 42, ../sass/partials/_mediaqueries.scss */
  .related li {
    width: 100% !important;
    margin-right: 0 !important;
  }
  /* line 46, ../sass/partials/_mediaqueries.scss */
  .related li .img-wrapper {
    width: 100% !important;
    height: auto;
  }
  /* line 50, ../sass/partials/_mediaqueries.scss */
  .related li .img-wrapper img {
    width: 100% !important;
  }

  /* Detail page */
  /* line 61, ../sass/partials/_mediaqueries.scss */
  .title {
    margin: 40px 0 10px !important;
  }

  /* line 65, ../sass/partials/_mediaqueries.scss */
  h3 {
    font-size: 1em;
  }

  /* line 69, ../sass/partials/_mediaqueries.scss */
  .image {
    padding-bottom: 20px !important;
  }
  /* line 70, ../sass/partials/_mediaqueries.scss */
  .image img {
    padding-bottom: 20px !important;
  }

  /* line 75, ../sass/partials/_mediaqueries.scss */
  .description {
    margin: 0 !important;
  }
  /* line 79, ../sass/partials/_mediaqueries.scss */
  .description .sidebar {
    overflow: none;
    float: none !important;
    width: 100%;
    margin: 0 0 20px !important;
  }
  /* line 86, ../sass/partials/_mediaqueries.scss */
  .description .about {
    float: none !important;
    width: 100% !important;
    margin-bottom: 30px;
  }
  /* line 91, ../sass/partials/_mediaqueries.scss */
  .description dl {
    width: 100% !important;
  }

  /* General mediaqueries for pages */
  /* line 102, ../sass/partials/_mediaqueries.scss */
  .page .content .description {
    width: 100% !important;
  }

  /* Contact page */
  /* line 114, ../sass/partials/_mediaqueries.scss */
  .page-template-contact .contact-form {
    max-width: 100%;
  }
}
@media screen and (max-width: 460px) {
  /* line 123, ../sass/partials/_mediaqueries.scss */
  .main-container {
    padding: 10px;
  }

  /* line 129, ../sass/partials/_mediaqueries.scss */
  h1, .single-work h1, .page h1 {
    float: none !important;
    margin: auto;
  }

  /* line 134, ../sass/partials/_mediaqueries.scss */
  header {
    width: 100%;
  }
  /* line 138, ../sass/partials/_mediaqueries.scss */
  header ul {
    width: 100%;
    float: none !important;
  }
  /* line 142, ../sass/partials/_mediaqueries.scss */
  header ul li {
    margin-left: 0;
    float: left;
    width: 33%;
    display: block;
    line-height: 40px;
    text-align: center;
  }
  /* line 150, ../sass/partials/_mediaqueries.scss */
  header ul li:last-child {
    width: 33%;
    float: right;
  }
  /* line 156, ../sass/partials/_mediaqueries.scss */
  header ul a {
    font-size: 0.88em;
    text-align: center;
    display: block;
  }
  /* line 160, ../sass/partials/_mediaqueries.scss */
  header ul a.cta {
    display: block;
    float: none !important;
    margin: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
    height: 40px;
    line-height: 40px;
  }

  /* line 177, ../sass/partials/_mediaqueries.scss */
  footer .email {
    float: none !important;
    width: 100% !important;
    margin-bottom: 20px;
  }
  /* line 182, ../sass/partials/_mediaqueries.scss */
  footer .social {
    float: none !important;
    width: 100% !important;
  }
}
