@charset "UTF-8";
@import url("//hello.myfonts.net/count/32fef1");
/* line 5, ../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * @license
 * MyFonts Webfont Build ID 3342065, 2017-02-08T06:20:33-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: BrandonTextWeb-Bold by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-text/bold/
 *
 * Webfont: BrandonTextWeb-Regular by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-text/regular/
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3342065
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright (c) 2015 by Hannes von Doehren. All rights reserved.
 *
 * © 2017 MyFonts Inc
*/
/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: 'BrandonTextWeb-Regular';
  src: url("../fonts/32FEF1_1_0.eot");
  src: url("../fonts/32FEF1_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/32FEF1_1_0.woff2") format("woff2"), url("webfonts/32FEF1_1_0.woff") format("woff"), url("../fonts/32FEF1_1_0.ttf") format("truetype");
}
@font-face {
  font-family: 'BrandonTextWeb-Bold';
  src: url("../fonts/32FEF1_0_0.eot");
  src: url("../fonts/32FEF1_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/32FEF1_0_0.woff2") format("woff2"), url("../fonts/32FEF1_0_0.woff") format("woff"), url("../fonts/32FEF1_0_0.ttf") format("truetype");
}
/*

		Developed by Bruno Felicio
		Date: 27/01/2017

	*/
/* line 8, ../sass/partials/_main.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/partials/_main.scss */
body,
html {
  height: 100%;
}

/* line 18, ../sass/partials/_main.scss */
body {
  font-family: "BrandonTextWeb-Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 1.125em;
  color: #848489;
}

/* line 26, ../sass/partials/_main.scss */
.main-container {
  padding: 40px;
}

/* line 30, ../sass/partials/_main.scss */
.container {
  width: 100%;
  /* 940px/940px */
  max-width: 940px;
  margin: auto;
  overflow: hidden;
}

/* line 39, ../sass/partials/_main.scss */
.full-width {
  width: 100%;
  overflow: hidden;
}

/* line 47, ../sass/partials/_main.scss */
header {
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}
/* line 53, ../sass/partials/_main.scss */
header ul {
  float: right;
  margin-top: 8px;
}
/* line 57, ../sass/partials/_main.scss */
header li {
  display: inline-block;
  margin-left: 40px;
}
/* line 61, ../sass/partials/_main.scss */
header li a {
  color: #BFC4D7;
  text-decoration: none;
  font-family: "BrandonTextWeb-Bold", sans-serif;
  font-size: 1em;
  transition: all .3s;
}
/* line 67, ../sass/partials/_main.scss */
header li a:hover {
  color: #4CA8F9;
}
/* line 70, ../sass/partials/_main.scss */
header li a.cta {
  background: #2D90E8;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: block;
  height: 44px;
  line-height: 46px;
  padding: 0 18px 0 18px;
  color: #fff;
}
/* line 79, ../sass/partials/_main.scss */
header li a.cta:hover {
  background: #4CA7F9;
}

/* Hero */
/* line 92, ../sass/partials/_main.scss */
h1 {
  text-indent: -9999px;
  background: url("../img/bruno-logo-small.svg") no-repeat 0 0;
  width: 63px;
  height: 80px;
  text-align: center;
  float: left;
}

/* line 101, ../sass/partials/_main.scss */
h2 {
  text-align: center;
  font-size: 1.875em;
  color: #38383D;
  line-height: 1.4;
  font-family: "BrandonTextWeb-Bold", sans-serif;
  padding: 0 0 40px 0;
}

/* line 112, ../sass/partials/_main.scss */
h3 {
  font-size: 1.22em;
  color: #38383D;
  font-family: "BrandonTextWeb-Bold", sans-serif;
  margin-bottom: 20px;
}

/* line 123, ../sass/partials/_main.scss */
a {
  text-decoration: none;
}

/* line 127, ../sass/partials/_main.scss */
p {
  line-height: 1.4;
  color: #38383D;
}

/* line 132, ../sass/partials/_main.scss */
.hero {
  margin: 40px auto 40px;
  width: 80%;
  overflow: hidden;
}

/* line 140, ../sass/partials/_main.scss */
.pf-item {
  width: 100%;
  position: relative;
}
/* line 145, ../sass/partials/_main.scss */
.pf-item .info {
  padding: 50px 0px;
  margin: auto;
  margin-bottom: 50px;
  overflow: hidden;
}
/* line 152, ../sass/partials/_main.scss */
.pf-item .info ul {
  float: left;
  width: 25%;
  margin-right: 0px;
}
/* line 158, ../sass/partials/_main.scss */
.pf-item .info ul li {
  font-family: "BrandonTextWeb-Bold", sans-serif;
  line-height: 1.4;
  font-size: 1em;
  color: #38383D;
}
/* line 165, ../sass/partials/_main.scss */
.pf-item .info ul a {
  font-family: "BrandonTextWeb-Bold", sans-serif;
  color: #b4b4b4;
  text-decoration: none;
  font-size: 0.88em;
  background: url("../img/link-icon.svg") no-repeat 0 4px;
  padding-left: 22px;
  transition: all .3s;
}
/* line 173, ../sass/partials/_main.scss */
.pf-item .info ul a:hover {
  color: #2D90E8;
  background: url("../img/link-icon-hover.svg") no-repeat 0 4px;
}
/* line 181, ../sass/partials/_main.scss */
.pf-item .info p {
  line-height: 1.5em;
  color: #848489;
  font-size: 1em;
  float: left;
  width: 75%;
}
/* line 191, ../sass/partials/_main.scss */
.pf-item img {
  top: -40px;
  width: 100%;
  max-width: 940px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Footer */
/* line 206, ../sass/partials/_main.scss */
footer {
  font-size: 0.88em;
  margin: 40px 0 10px 0;
  overflow: hidden;
}
/* line 211, ../sass/partials/_main.scss */
footer p.label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #848489;
  opacity: .5;
  margin-bottom: 15px;
}
/* line 220, ../sass/partials/_main.scss */
footer .email {
  float: left;
}
/* line 223, ../sass/partials/_main.scss */
footer .email a {
  color: #848489;
  text-transform: lowercase;
  font-family: "BrandonTextWeb-Bold", sans-serif;
  opacity: 0.5;
}
/* line 228, ../sass/partials/_main.scss */
footer .email a:hover {
  color: #2D90E8;
  opacity: 1;
}
/* line 235, ../sass/partials/_main.scss */
footer .social {
  float: right;
}
/* line 238, ../sass/partials/_main.scss */
footer .social li {
  display: inline-block;
  margin: 0 0 0 20px;
}
/* line 241, ../sass/partials/_main.scss */
footer .social li:first-child {
  margin-left: 0;
}
/* line 246, ../sass/partials/_main.scss */
footer .social a {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
}
/* line 251, ../sass/partials/_main.scss */
footer .social a.twitter {
  background: url("../img/twitter.svg") no-repeat;
}
/* line 254, ../sass/partials/_main.scss */
footer .social a.dribbble {
  background: url("../img/dribbble.svg") no-repeat;
}
/* line 257, ../sass/partials/_main.scss */
footer .social a.instagram {
  background: url("../img/instagram.svg") no-repeat;
}
/* line 260, ../sass/partials/_main.scss */
footer .social a.linkedin {
  background: url("../img/linkedin.svg") no-repeat;
}
/* line 263, ../sass/partials/_main.scss */
footer .social a:hover {
  opacity: .5;
}

/****** Detail Page *******/
/* line 275, ../sass/partials/_main.scss */
.single-work h1 {
  float: left;
  background: url("../img/bruno-logo-small.svg") no-repeat 0 0;
  width: 47px;
  height: 60px;
  margin: 0;
}
/* line 282, ../sass/partials/_main.scss */
.single-work .hero {
  width: 100%;
  margin: 0;
}
/* line 288, ../sass/partials/_main.scss */
.single-work .top-image {
  width: 100%;
  padding: 40px;
  margin: 40px 0 40px;
  background: #f3f3f3;
}
/* line 297, ../sass/partials/_main.scss */
.single-work .top-image img {
  width: 100%;
  max-width: 940px;
  vertical-align: bottom;
  margin: 0 auto;
  display: block;
}
/* line 306, ../sass/partials/_main.scss */
.single-work .title {
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 600;
  text-align: center;
  margin: 100px 0 20px;
  color: #848489;
  opacity: .5;
}
/* line 316, ../sass/partials/_main.scss */
.single-work .image {
  padding: 0 0 40px;
}
/* line 320, ../sass/partials/_main.scss */
.single-work .image img {
  padding-bottom: 40px;
  max-width: 100%;
}
/* line 326, ../sass/partials/_main.scss */
.single-work .image p {
  color: #848489;
  font-size: 1em;
}
/* line 337, ../sass/partials/_main.scss */
.single-work .description {
  overflow: hidden;
  margin: 40px 0 80px;
}
/* line 342, ../sass/partials/_main.scss */
.single-work .description .about {
  width: 58.97435897%;
  float: left;
}
/* line 348, ../sass/partials/_main.scss */
.single-work .description .sidebar {
  width: 28.20512821%;
  float: left;
  margin-left: 12.82051282%;
  font-size: 0.88em;
}
/* line 355, ../sass/partials/_main.scss */
.single-work .description dl {
  line-height: 1.4;
}
/* line 358, ../sass/partials/_main.scss */
.single-work .description dl dd {
  font-family: "BrandonTextWeb-Bold", sans-serif;
  color: #38383D;
  padding-bottom: 5px;
}
/* line 364, ../sass/partials/_main.scss */
.single-work .description dl dt {
  line-height: 1.4;
  padding-bottom: 20px;
  color: #848489;
}

@media screen and (max-width: 700px) {
  /* line 3, ../sass/partials/_mediaqueries.scss */
  .main-container {
    padding: 20px;
  }

  /* line 7, ../sass/partials/_mediaqueries.scss */
  .container {
    width: 100%;
  }

  /* line 11, ../sass/partials/_mediaqueries.scss */
  .hero {
    width: 100% !important;
  }
  /* line 15, ../sass/partials/_mediaqueries.scss */
  .hero h2 {
    font-size: 1.25em;
    padding: 0;
  }

  /* line 22, ../sass/partials/_mediaqueries.scss */
  .info {
    padding: 30px 0 !important;
    margin: 0 !important;
  }
  /* line 27, ../sass/partials/_mediaqueries.scss */
  .info ul {
    width: 100%;
    float: none !important;
    margin-bottom: 20px;
  }
  /* line 33, ../sass/partials/_mediaqueries.scss */
  .info p {
    float: none !important;
    width: 100% !important;
  }

  /* Detail page */
  /* line 42, ../sass/partials/_mediaqueries.scss */
  .title {
    margin: 40px 0 10px !important;
  }

  /* line 46, ../sass/partials/_mediaqueries.scss */
  h3 {
    font-size: 1em;
  }

  /* line 50, ../sass/partials/_mediaqueries.scss */
  .image {
    padding-bottom: 20px !important;
  }
  /* line 51, ../sass/partials/_mediaqueries.scss */
  .image img {
    padding-bottom: 20px !important;
  }

  /* line 56, ../sass/partials/_mediaqueries.scss */
  .description {
    margin: 0 !important;
  }
  /* line 60, ../sass/partials/_mediaqueries.scss */
  .description .sidebar {
    overflow: none;
    float: none !important;
    width: 100%;
    margin: 0 0 20px !important;
  }
  /* line 67, ../sass/partials/_mediaqueries.scss */
  .description .about {
    float: none !important;
    width: 100% !important;
    margin-bottom: 30px;
  }
  /* line 72, ../sass/partials/_mediaqueries.scss */
  .description dl {
    width: 100% !important;
  }
}
@media screen and (max-width: 460px) {
  /* line 80, ../sass/partials/_mediaqueries.scss */
  .main-container {
    padding: 10px;
  }

  /* line 86, ../sass/partials/_mediaqueries.scss */
  h1, .single-work h1 {
    float: none !important;
    margin: auto;
  }

  /* line 91, ../sass/partials/_mediaqueries.scss */
  header {
    width: 100%;
  }
  /* line 95, ../sass/partials/_mediaqueries.scss */
  header ul {
    width: 100%;
    float: none !important;
  }
  /* line 99, ../sass/partials/_mediaqueries.scss */
  header ul li {
    margin-left: 0;
    float: left;
    width: 33%;
    display: block;
    line-height: 40px;
    text-align: center;
  }
  /* line 107, ../sass/partials/_mediaqueries.scss */
  header ul li:last-child {
    width: 33%;
    float: right;
  }
  /* line 113, ../sass/partials/_mediaqueries.scss */
  header ul a {
    font-size: 0.88em;
    text-align: center;
    display: block;
  }
  /* line 117, ../sass/partials/_mediaqueries.scss */
  header ul a.cta {
    display: block;
    float: none !important;
    margin: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
    height: 40px;
    line-height: 44px;
  }

  /* line 134, ../sass/partials/_mediaqueries.scss */
  footer .email {
    float: none !important;
    width: 100% !important;
    margin-bottom: 20px;
  }
  /* line 139, ../sass/partials/_mediaqueries.scss */
  footer .social {
    float: none !important;
    width: 100% !important;
  }
}
