@import "compass/css3";
@import "compass/reset";

$font-color             : #656569;
$font-color-dark        : #38383D;
$line-height            : 1.5;
$base-font-size         : 1.125em; //20px
$h2-font-size           : 1.875em; //30px
$font-family            : "sofia-pro", sans-serif;
$link-color             : #4CA8F9;
$gray-hover             : #88888B;
